@import "../../colors.scss";

.nav {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: $third-color;
}

.pages {
  display: flex;
  gap: 2rem ;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: $first-color;
  margin: 3px 0;
}

.mobile-menu {
  position: sticky;
  top: 100px !important;
  z-index: 99;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 10px;
  border-bottom: 2px solid $second-color;
  background-color: rgb(208, 208, 208) !important;
  
}

@media (max-width: 700px) {
  .pages {
    display: none;
  }
  
  .menu-toggle {
    display: flex;
  }

  .mobile-menu {
    display: flex;
    background-color: $third-color; /* Ajusta el color de fondo según tus necesidades */
    padding: 20px;
  }

  .pages.desktop {
    display: none;
  }

}

@media (min-width: 700px) {
  .menu-toggle {
    display: none;
  }

  .pages.desktop {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }
  
}


.logo{
  margin-left: 2rem;
    height: auto;
    width: 100px;
    transition: transform 0.3s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}
a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.link {
    border: 2px solid $first-color;
    padding: 10px 20px;
    background-color: transparent;
    font-size: 16px;
    color: $first-color;
    cursor: pointer;
  }
  
.link:hover {
    animation: pulsoTitle 1.5s infinite;
  }
  @keyframes pulsoTitle {
    0% {
      border-color: $first-color;
      color: $first-color;
    }
    30% {
      border-color: $second-color;
      color: $second-color;
    }
    100% {
      border-color: $first-color;
      color: $first-color;
    }
  } 

  .link-login {
    border-radius: 20px;
    border: 2px solid $second-color;
    padding: 10px 20px;
    background-color: transparent;
    font-size: 16px;
    color: $second-color;
    cursor: pointer;
  }
  
  
.link-login:hover {
    animation: pulsoLogin 1.5s infinite;
  }
  @keyframes pulsoLogin {
    0% {
      border-color: $second-color;
      color: $second-color;
    }
    30% {
      border-color: $first-color;
      color: $first-color;
    }
    100% {
      border-color: $second-color;
      color: $second-color;
    }
  } 

  .link-logout {
    border-radius: 20px;
    border: 2px solid $four-color;
    padding: 5px 10px !important;
    background-color: transparent;
    font-size: 12px  !important;
    color: $four-color;
    cursor: pointer;
  }
  .link-logout:hover {
    animation: pulsoLogout 1.5s infinite;
  }
  @keyframes pulsoLogout {
    0% {
      border-color: $four-color;
      color: $four-color;
    }
    30% {
      border-color: $first-color;
      color: $first-color;
    }
    100% {
      border-color: $four-color;
      color: $four-color;
    }
  } 



  @media (max-width: 600px) {
    .pages{
      display: flex;
      justify-content: center;
      gap: 2rem;
  }
  }

  .img-div{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100px;
  }
  
  .profile-img{
    height: 60px;
    border-radius: 60px;
    border: 2px solid $second-color;
  }

  .user{
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 1rem;
  }
