$first-color : #1c393c;
$second-color : #e0a213;
$third-color : #e1e1e1;
$four-color : #a92d2d;


@font-face {
    font-family: 'myFont';
    src: url('./assets/Roboto.ttf');
  }

  @font-face {
    font-family: 'title';
    src: url('./assets/Midorima.ttf');
  }